* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}
body {
  background-color: rgb(47, 46, 46);
}

.container {
  width: 260px;
  height: max-content;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #ccc;
}

.screen {
  height: 140px;
  background-color: #86868b;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 33px;
  padding: 10px;
  text-align: justify;
  overflow: scroll;
  border: 5px solid #ccc;
}
.screen::-webkit-scrollbar {
  display: none;
}
.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  background-color: #cccccc;
  padding: 5px;
}
.numbers div {
  background-color: gray;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
.numbers div:hover {
  background-color: rgb(92, 92, 92);
}
.numberequal {
  grid-column: span 2;
}
